@model MeuProjetoMVC.Models.Endereco

<h1>Dados Recebidos</h1>

<p><strong>Nome:</strong> @Model.Nome</p>

<p><strong>CEP:</strong> @Model.Cep</p>

<p><strong>Número:</strong> @Model.Numero</p>

<p><strong>Logradouro:</strong> @Model.Logradouro</p>

<p><strong>Bairro:</strong> @Model.Bairro</p>

<p><strong>Cidade:</strong> @Model.Cidade</p>

<p><strong>UF:</strong> @Model.UF</p>

<a asp-action="Cadastro">Novo Cadastro</a>